@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair), serif;

  --color-primary: #c68c32;
  --color-primary-dark: #a06d22;
  --color-background-light: #faf6f3;
  --color-background-dark: #1f1f1f;
  --color-brand-dark: #4a1d24;
  --color-brand-darker: #2d0f13;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
